a {
  text-decoration: underline;
  color: #791714;
}

.heart {
  font-size: 72px;
  color: red;
}

body {
  font-family: "Frutiger LT Std";
  color: #791714;
  font-weight: bold;
}

h1 {
  font-family: "Frutiger LT Std";
  font-weight: bold;
}

div.slide {
  background: url(http://www.peritor.com/img/peritor_logo.png) no-repeat;
  background-position: 95% 3%;
  -webkit-background-size: 15% auto;
}

span.current:before, span.current:after {
  content: url(leaf.png);
}

code {
  line-height: 42px;
}